// GRADIENT

$gradientPri: hsl(236, 72%, 79%);
$gradientSec: hsl(237, 63%, 64%);

// NEUTRAL COLORS

$lightPri: hsl(240, 78%, 98%);
$lightSec: hsl(234, 14%, 74%);
$grayPri: hsl(233, 13%, 49%);
$graySec: hsl(232, 13%, 33%);
